* {
	margin: 0;
	padding: 0;
}

body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	margin-top: -100px !important;
}

.fab {
	font-size: 30px;
	margin-right: 5px;
	margin-left: 5px;
	color: white;
}

.fab:hover {
	color: #7780ff;
}

@media only screen and (max-width: 420px) {
	.tittle {
		font-size: 30px !important;
		font-weight: bold;
	}
}

@media only screen and (max-width: 992px) {
	.container {
	margin-top: 0px !important;
}
}